<div class="container text-center">
	<div class="jumbotron">
		{{!-- <img class="pic" src="/assets/image/1.jpg"> --}}
	</div>

	<div class="row">
		<div class="col-sm-6 text-center">
			<ul class="devour">
				{{#each burgers}}
				{{#unless devoured}}
				<li>
					<div class="row">
						<div class="col-sm-6">
							<p class="devourList">{{id}}. {{burger_name}}
						</div>
						<div class="col-sm-6">
							<button class="press" id='pressButton' data-burgerid="{{id}}">Devour!!!</button></p>
						</div>
					</div>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="burger-div">
			<div class="col-sm-6 text-center">
				<ul class="devoured">
					{{#each burgers}}
					{{#if devoured}}
					<li>
						<p>{{id}}. {{burger_name}}</p>
					</li>
					{{/if}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<form action="/api/burgers" method="POST">
		<input type="text" name="burger" class="form-control" id="input">
		<p class='eat'>Please enter a burger of your choice...</p>
		<button type="submit" id="add">Add Burger</button>
	</form>

</div>